<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @list.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
          <% @list.bookmarks.each do |bookmark| %>
            <th scope="row">bookmark</th>
            <td><%= bookmark.movie.title %></td>
            <td><%= bookmark.movie.rating %></td>
            <td><%= bookmark.movie.overview %></td>
            <td><%= bookmark.movie.poster_url %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <%= link_to "See all lists", lists_path %>
      <%= link_to "create a bookmark", new_list_bookmark_path(@list) %>
    </div>
  </div>
</div>
